/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

textarea{
  resize: vertical;
}

.desc{
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  min-width:400px;
  max-width: 500px;
  display:block;
}
.desc-700{
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  min-width:700px;
  max-width:850px;
  display:block;
}

.book{
  margin-bottom: 20px;
}

.row-bio{
  height:320px;
}

.well-bio{
  height:300px;
}

.well-book{
  height:350px;
}